<div class="sidebar d-flex flex-column p-3">
  <div class="header-section mb-4">
    <h4 class="fw-bold mb-0">Techmaint <br> Solutions</h4>
    <p class="user-name mt-2 mb-0">
      {{ nomeUsuario ? nomeUsuario : 'Visitante' }} 
    </p>
  </div>

  <nav class="nav flex-column gap-1">

    <!-- region funcionário -->

    <ng-container *ngIf="perfilUsuario === 'FUNCIONARIO'">
      
      <a class="nav-link" routerLink="/staff" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="bi bi-house-door"></i> Página Inicial
      </a>
      
      <a class="nav-link" routerLink="/funcionario/pedidos" routerLinkActive="active">
        <i class="bi bi-list-ul"></i> Solicitações
      </a>
  
      <a class="nav-link" routerLink="/categorias" routerLinkActive="active">
        <i class="bi bi-diagram-2"></i> Categorias
      </a>
      
      <a class="nav-link" routerLink="/funcionarios" routerLinkActive="active">
        <i class="bi bi-people"></i> Funcionários
      </a>
      
      <a class="nav-link" routerLink="/receitas" routerLinkActive="active">
        <i class="bi bi-bar-chart"></i> Receitas
      </a>
      
      <a class="nav-link" routerLink="/receitas-categorias" routerLinkActive="active">
        <i class="bi bi-pie-chart"></i> Receitas/Categoria
      </a>

    </ng-container>

    <!-- region cliente -->
     
    <ng-container *ngIf="perfilUsuario === 'CLIENTE'">
      <a class="nav-link" routerLink="/meus-reparos" routerLinkActive="active">
        <i class="bi bi-tools"></i> Meus Reparos
      </a>
      <a class="nav-link" routerLink="/solicitar" routerLinkActive="active">
        <i class="bi bi-plus-lg"></i> Novo Orçamento
      </a>
    </ng-container>

    <ng-container *ngIf="!perfilUsuario">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">
        <i class="bi bi-box-arrow-in-right"></i> Login
      </a>
    </ng-container>

  </nav>

  <div class="mt-auto" *ngIf="perfilUsuario">
    <button (click)="logout()" class="btn btn-outline-danger w-100 mt-4 d-flex align-items-center justify-content-center gap-2">
      <i class="bi bi-box-arrow-left"></i> Sair
    </button>
  </div>
</div>